__pycache__/EasySectionAnalysis.cpython-36.pyc
main-old.py
test.py
tutorial.py
.vscode/launch.json
boom.csv
parameters.csv
sections/plot_section_14.png
sections/boom_section_1.csv
sections/boom_section_10.csv
sections/boom_section_11.csv
sections/boom_section_12.csv
sections/boom_section_13.csv
sections/boom_section_14.csv
sections/boom_section_15.csv
sections/boom_section_16.csv
sections/boom_section_17.csv
sections/boom_section_18.csv
sections/boom_section_19.csv
sections/boom_section_2.csv
sections/boom_section_20.csv
sections/boom_section_3.csv
sections/boom_section_4.csv
sections/boom_section_5.csv
sections/boom_section_6.csv
sections/boom_section_7.csv
sections/boom_section_8.csv
sections/boom_section_9.csv
sections/pars_section_1.csv
sections/pars_section_10.csv
sections/pars_section_11.csv
sections/pars_section_12.csv
sections/pars_section_13.csv
sections/pars_section_14.csv
sections/pars_section_15.csv
sections/pars_section_16.csv
sections/pars_section_17.csv
sections/pars_section_18.csv
sections/pars_section_19.csv
sections/pars_section_2.csv
sections/pars_section_20.csv
sections/pars_section_3.csv
sections/pars_section_4.csv
sections/pars_section_5.csv
sections/pars_section_6.csv
sections/pars_section_7.csv
sections/pars_section_8.csv
sections/pars_section_9.csv
sections/plot_section_1.png
sections/plot_section_10.png
sections/plot_section_11.png
sections/plot_section_12.png
sections/plot_section_13.png
sections/plot_section_15.png
sections/plot_section_16.png
sections/plot_section_17.png
sections/plot_section_18.png
sections/plot_section_19.png
sections/plot_section_2.png
sections/plot_section_20.png
sections/plot_section_3.png
sections/plot_section_4.png
sections/plot_section_5.png
sections/plot_section_6.png
sections/plot_section_7.png
sections/plot_section_8.png
sections/plot_section_9.png
Ixx-plot.png
inputold.csv
