__pycache__/EasySectionAnalysis.cpython-36.pyc
main-old.py
test.py
tutorial.py
.vscode/launch.json
boom.csv
parameters.csv
sections/*
Ixx-plot.png
inputold.csv
Case1/*
Case2/*
Case3/*
Case4/*
Case5/*
SC_varying.png
SC_equal.png
test_test.png
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
